.header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.subcontext {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-container {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 30px;
}

.main-image {
    width: 350px;
    height: auto;
}