.hero-container {
    background-color: #1F2937;
    padding-bottom: 170px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
}

#header-main-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.subcontext {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text #hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text #hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-size: 16px;
}

.main-image {
    width: 500px;
    height: auto;
}



.info-container {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
}

.info-header-text {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.project-container {
    width: 225px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.project-image {
    height: 200px;
    width: auto;
    border-radius: 25px;
}

.project-name {
    padding-left: 20px;
    padding-right: 20px;
}


.quote-container {
    background-color: #e5e7eb;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-owner {
    text-align: end;
    font-weight: bold;
    font-size: 30px;
}


.call-to-action-container {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.call-to-action-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2px;
}

.call-to-action-desc {
    font-size: 24px;
    margin-top: 2px;
}

.call-to-action-container button {
    color: #f9faf8;
    border-color: #f9faf8;
    align-self: center;
    border-width: 3px;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 50px;
    font-size: 26px;
}