.hero-container {
    background-color: #1F2937;
    padding-bottom: 170px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
}

#header-main-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.subcontext {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text #hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text #hero-secondary-text  {
    font-size: 18px;
    color: #e5e7eb;
}

.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 100px;
    height: 30px;
}

.main-image {
    width: 500px;
    height: auto;
}